/* mobile */
@media only screen and (max-width: 767px) {
  /* hover image */
  .team__image .hover-icon > i {
    margin-bottom: 0px;
    opacity: 1;
  }
  .team__image .hover-overlay {
    opacity: 1;
  }
  .team__image .image-hover__content .show-time {
    margin-left: 0px;
    opacity: 1;
  }
  .team__image .image-hover__content .title {
    opacity: 1;
    top: 0;
  }
  .musician-album-hero {
    top: -10px;
  }
  .musician-album .btn-wrapper {
    padding-top: 10px;
    justify-content: flex-start;
  }
  .musician-album-hero {
    margin-top: -230px;
  }
  .musician-info__black {
    margin-bottom: 30px;
  }

  .hero-image {
    height: 700px;
  }
  .about__image {
    object-fit: contain;
    height: 100%;
  }
  .footer-bot__links {
    display: flex;
    justify-content: center;
  }
  .hero-image > .hero-text {
    font-size: 60px;
  }

  /* navbar mobile */
  .header-bar__social,
  .header-bar__links {
    display: none;
  }

  .menu-bar {
    display: inline-block;
    /* font-size: 30px; */
  }

  .menu-bar__body {
    display: block;
    z-index: 9;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    padding-top: 82px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateY(-100%);
    opacity: 0;
    transition: 0.4s ease;
    will-change: opacity, transform;

    background-color: #001d38bd;
  }
  .menu-bar__body .header-bar__links,
  .menu-bar__body .header-bar__social {
    display: block;
    text-align: center;
  }
  .menu-bar__body .header-bar__links > li {
    display: block;
    margin-bottom: 20px;
  }
  .menu-bar__body .header-bar__links > li a {
    font-size: 18px;
  }
  .header-bar__social > li:not(:first-child) > a > i {
    margin-left: 40px;
  }
  .menu-bar__body-show {
    transform: translateY(0);
    opacity: 1;
  }
}
